<template>
    <van-cell :title="config.name+':'" value="内容" class="i-title" v-if="config.inputType==='normal'">
       <van-uploader  v-model="fileList" v-if="config.inputType==='normal'" :max-count="config.maxCount" :after-read="showName" :key="config.key"/>
    </van-cell>
  <wx-input-image v-else></wx-input-image>
</template>

<script lang="ts">
import wxInputImage from './wxInputImage.vue'
import { defineComponent } from 'vue'
export default defineComponent({
  name: 'InputImage',
  props: {
    config: {
      required: true,
      type: Object,
      default: () => {
        return {
          type: 'normal'
        }
      }
    }
  },
  components: {
    wxInputImage
  },
  data () {
    return {
      fileList: []
    }
  },
  methods: {
    showName (file: {
      content: string;
    }) {
      this.$emit('reImg', { content: file.content, key: this.config.key })
    }
  }
})
</script>

<style lang="scss">
  .i-title{
    .van-cell__value{
      flex: 3;
    }
  }
</style>
