<template>
  <div>
    <van-form @submit="onSubmit">
      <van-field
        v-model="fromData.name"
        name="姓名"
        label="姓名"
        colon
        readonly
        placeholder="请填写姓名"
        :rules="[{ required: true, message: '请填写用户名' }]"
      />
      <van-field
        v-model="fromData.usercode"
        name="员工编号"
        label="员工编号"
        placeholder="员工编号"
        readonly
        colon
        :rules="[{ required: true, message: '请填写员工编号' }]"
      />
      <van-field
        v-model="fromData.username"
        name="姓名(拼音)"
        label="姓名(拼音)"
        placeholder="姓名(拼音)"
        readonly
        colon
        :rules="[{ required: true, message: '请填写姓名(拼音)' }]"
      />
      <van-field
        v-model="fromData.departmentName"
        name="员工部门"
        label="员工部门"
        placeholder="员工部门"
        readonly
        colon
        :rules="[{ required: true, message: '请填写姓名(拼音)' }]"
      />
      <van-field
        v-model="fromData.expressUser"
        name="收件人"
        label="收件人"
        placeholder="收件人"
        :show-error-message="false"
        colon
        :rules="[{ required: true, message: '请填写姓名(拼音)' }]"
      />
      <van-field
        v-model="fromData.phone"
        name="手机号"
        label="手机号"
        placeholder="手机号"
        colon
        :rules="[{ validator: valPhone, message: '请输入正确的手机号' }]"
      />
      <van-field
        v-model="fromData.place"
        name="寄送地点"
        label="寄送地点"
        colon
        placeholder="寄送地点"
        :rules="[{ validator: valNubStringHas, message: '请输入正确的寄送地点' }]"
      />
      <van-field name="uploader" label="文件上传" colon  :rules="[{ validator: valListLeng, message: '请上传照片' }]">
          <template #input>
            <van-uploader v-model="value" />
          </template>
      </van-field>
      <div style="margin: 16px;">
        <van-button round block type="primary" native-type="submit">
          提交
        </van-button>
      </div>
    </van-form>
  </div>
</template>

<script lang="ts">
import cardForm from '@/components/CardForm/index.vue'
import { defineComponent, onMounted, reactive } from 'vue'
import { useRoute } from 'vue-router'
import { User } from '@/store/types'
import { valNubStringHas, valListLeng, valPhone } from '@/utils/validator'
import { Dialog } from 'vant'
import { postCardDataY, postCardDataN } from '@/api/request'
import { CustomVue, useStore } from 'vuex'
import { _isMobile } from '@/utils/index'

interface FormData{
  username: string;
  usercode: string;
  name: string;
  userImage: {
    [index: number]: {
      content: string;
    };
  };
}

export default defineComponent({
  setup (props, context) {
    const route = useRoute()
    const store = useStore()
    let fromData: any
    let config: any
    const fromType: any = 'n'
    const user = store.getters.user
    if (fromType === 'n') {
      fromData = reactive({
        usercode: '',
        username: '',
        name: '',
        departmentName: '',
        fileList: []
      })
      fromData.usercode = user.usercode
      fromData.username = user.username
      fromData.name = user.name
      fromData.departmentName = user.departmentName
    } else {
      fromData = reactive({
        usercode: '',
        username: '',
        name: '',
        expressUser: '',
        phone: '',
        place: '',
        fileList: []
      })
      fromData.usercode = user.usercode
      fromData.username = user.username
      fromData.name = user.name
      fromData.departmentName = user.departmentName
    }
    const onSubmit = () => {
    }
    return {
      fromData,
      config,
      onSubmit,
      valNubStringHas,
      valListLeng,
      valPhone
    }
  },
  data () {
    return {
      iFormData: {}
    }
  },
  mounted () {
    // this.initFormData(this.$store.getters.user)
  },
  methods: {
    // initFormData (userInfo: User): void {
    // }
  }
})
</script>

<style>
</style>
