<template>
  <div class="" style="text-align:left">
    <span>{{data.userCardData.name}}<span v-if="isRe">的挂失申请</span><span v-else>的工卡申请</span></span>
    <van-cell-group style="margin-top:30px;margin-bottom:20px">
      <van-cell title="员工姓名" :value="data.userCardData.name" />
      <van-cell title="姓名拼音" :value="data.userCardData.username" />
      <van-cell title="部门名称" :value="data.userCardData.departmentName" />
      <van-cell title="提交时间" :value="data.userCardData.commitTime" />
      <van-cell title="用户照片" :value="data.userCardData.commitTime"  v-if="!isRe">
        <template #default>
          <van-button type="danger" size="mini" @click="showImgView">附件详情</van-button>
        </template>
      </van-cell>
    </van-cell-group>
    <van-steps :active="active" active-icon="success" active-color="#38f">
      <van-step v-for="action in actions" :key="action">{{action.name}}</van-step>
    </van-steps>
  </div>
</template>

<script lang="ts">
import { defineComponent, computed, reactive } from 'vue'
import { useStore } from 'vuex'
import { getDetialCardInfo } from '@/api/request'
import { useRouter } from 'vue-router'
import { ImagePreview, Dialog } from 'vant'

export default defineComponent({
  setup (props, context) {
    const store = useStore()
    const user = store.getters.user
    const router = useRouter()
    const data = reactive({
      userCardData: {}
    })
    getDetialCardInfo(user.usercode).then(resp => {
      if (resp.status === 500) {
        Dialog.alert({
          title: '温馨提示',
          message:
                    '您没有提交过相关工卡申请',
          theme: 'round-button'
        }).then(() => {
          router.push({
            path: '/card'
          })
        })
      } else {
        data.userCardData = resp.data.cardDetial
      }
    })
    const showImgView = () => {
      ImagePreview({ images: ['http://oa-notice.test.17zuoye.net/wcard/api/cardImg?usercode=' + '/api/cardImg?usercode=' + (data.userCardData as any).usercode], closeable: true })
    }
    const isRe = computed(() => {
      if ((data.userCardData as any).status === -1 || (data.userCardData as any).status === -2 || (data.userCardData as any).status === -3) {
        return true
      } else {
        return false
      }
    })
    const actions = computed(() => {
      if ([-1, -2, -3].includes((data.userCardData as any).status)) {
        return [{ name: '提交申请' }, { name: '同意' }, { name: '驳回' }]
      } else {
        return [
          { name: '提交申请' },
          { name: '工卡制作中' },
          { name: '待领取' },
          { name: '已领取' },
          { name: '驳回' }
        ]
      }
    })
    const active = computed(() => {
      if ((data.userCardData as any).status === 0) {
        return 0
      } else if ((data.userCardData as any).status === 1) {
        return 1
      } else if ((data.userCardData as any).status === 2) {
        return 2
      } else if ((data.userCardData as any).status === 3) {
        return 3
      } else if ((data.userCardData as any).status === 4) {
        return 4
      } else if ((data.userCardData as any).status === -1) {
        return 0
      } else if ((data.userCardData as any).status === -2) {
        return 1
      } else if ((data.userCardData as any).status === -3) {
        return 2
      }
    })
    return {
      data,
      isRe,
      showImgView,
      actions,
      active
    }
  }
})
</script>

<style lang="scss">

</style>
