<template>
  <div style="text-align:left" class="card-form">
    <div style="padding:10px;font-size:14px;font-weight:700">{{config.formTitle}}</div>
    <van-form @submit="onSubmit" @failed="onFailed" :show-error-message="false">
      <van-cell-group  v-for="item in config.field" :key="item.name" >
        <van-field  v-if="item.type==='field'" :required="item.required" input-align="right" v-model="formData[item.key]" :name="item.key" :label="item.name+':'" :placeholder="item.plc" :rules="item.rules" :disabled="item.disabled"
         ></van-field>
         <van-field  v-if="item.type==='textarea'" type="textarea"  autosize   rows="1" :required="item.required" input-align="right" v-model="formData[item.key]" :name="item.key" :label="item.name+':'" :placeholder="item.plc" :rules="item.rules" :disabled="item.disabled"
         ></van-field>
        <van-field :name="item.key" label="照片上传"  v-if="item.type==='jsImage'"  :rules="item.rules" :required="item.required" class="m-filed" >
          <template #input>
            <van-uploader v-model="formData[item.key]" :max-count="item.maxCount" accept="image/png">
            </van-uploader>
          </template>
        </van-field>
        <van-field :name="item.key" :label="item.name+':'" v-if="item.type==='radio'" :required="item.required" :rules="[{ required: true, message: item.message }]">
          <template #input>
            <van-radio-group v-model="formData[item.key]" direction="horizontal">
              <van-radio  :disabled="formData['userType']==='partTime' && item.key==='cardType' && option.display==='正式工卡'" :name="option.value" v-for="option in item.options" :key="option.value">{{option.display}}</van-radio>
            </van-radio-group>
          </template>
        </van-field>
        <van-field
          :name="item.key" :label="item.name+':'" v-if="item.type==='select'" :required="item.required" :rules="[{ required: true, message: item.message }]"
           input-align="right"
          readonly
          clickable
          v-model="formData[item.key]"
          placeholder="点击选择城市"
          @click="openSelect(item)"
        ></van-field>
      <van-popup v-model:show="showPicker" position="bottom">
          <van-picker
            show-toolbar
            :columns="originList"
            @confirm="onConfirm"
            @cancel="showPicker = false"
                  />
      </van-popup>
        <van-field v-if="item.type==='wxImage'" :name="item.key" label="照片上传" :rules="item.rules" :required="item.required" >
          <template #input>
            <div class="m-carme" @click="uploadImage" v-if="sdkImageId===''">
              <van-icon name="photograph" color="#dcdee0" style="font-size:36px; "/>
            </div>
            <div v-else>
              <van-icon name="cross" style="font-size:11px;position:absolute;top:-10px;left:90px;z-index:99;" color="#969696" @click="sdkImageId = '';fromData.userImage = []"/>
              <van-image
                @click="previewImage"
                width="100"
                height="100"
                :src="sdkImageId"
              >
              </van-image>
            </div>
          </template>
        </van-field>
      </van-cell-group>
      <div style="font-size:12px;text-align:center">（为保证照片质量，请提交像素较高的本人正面照）</div>
          <div style="margin: 16px;" v-if="config.type==='commit'" >
      <van-button round block type="primary" native-type="submit" :loading="isLoading">
          提交
      </van-button>
    </div>
    </van-form>

  </div>
</template>

<script lang="ts">
// import InputImage from '@/components/InputImage/index.vue'
import { defineComponent, reactive } from 'vue'
import { Toast, ImagePreview } from 'vant'
import { configSDK } from '@/utils/configSDK'
export default defineComponent({
  props: {
    config: {
      default: () => {
        return {
          field: [],
          type: 'commit'
        }
      },
      type: Object,
      required: true
    },
    formData: {
      default: () => {
        return {}
      },
      type: Object,
      required: true
    }
  },
  data () {
    return {
      isLoading: false,
      showPicker: false,
      sdkImageId: '',
      originList: [],
      originKey: ''
    }
  },
  methods: {
    onConfirm (value: any) {
      console.log(value)
      this.formData[this.originKey] = value
      this.showPicker = false
    },
    openSelect (item: any) {
      this.originList = item.columns
      this.originKey = item.key
      this.showPicker = true
    },
    previewImage () {
      ImagePreview([
        this.sdkImageId
      ])
    },
    onFailed (errMsg: any): void {
      if (errMsg.errors.length === 1) {
        this.$notify(errMsg.errors[0].message)
      } else {
        this.$notify('请完善相关字段')
      }
    },
    async onSubmit (values: {}) {
      this.isLoading = true
      await this.config.commit(values)
      this.isLoading = false
    },
    reImg (data: {content: string;key: string}): void {
      this.formData[data.key] = data.content
    },
    uploadImage () {
      const _self = this
      wx.chooseImage({
        count: 1, // 默认9
        sizeType: ['original', 'compressed'], // 可以指定是原图还是压缩图，默认二者都有
        sourceType: ['album'], // 可以指定来源是相册还是相机，默认二者都有
        defaultCameraMode: 'batch', // 表示进入拍照界面的默认模式，目前有normal与batch两种选择，normal表示普通单拍模式，batch表示连拍模式，不传该参数则为normal模式。从3.0.26版本开始支持front和batch_front两种值，其中front表示默认为前置摄像头单拍模式，batch_front表示默认为前置摄像头连拍模式。（注：用户进入拍照界面仍然可自由切换两种模式）
        isSaveToAlbum: 1, // 整型值，0表示拍照时不保存到系统相册，1表示自动保存，默认值是1
        success: function (res: any) {
          const userAgent = navigator.userAgent
          const isAndroid = userAgent.indexOf('Android') > -1 || userAgent.indexOf('Adr') > -1 // android终端
          if (!isAndroid) {
            alert(123)
          } else {
            _self.sdkImageId = res.localIds[0]
            _self.formData.userImage = res.localIds
            alert(_self.formData.userImage.length)
          }
          // 返回选定照片的本地ID列表，
          // andriod中localId可以作为img标签的src属性显示图片；
          // iOS应当使用 getLocalImgData 获取图片base64数据，从而用于img标签的显示（在img标签内使用 wx.chooseImage 的 localid 显示可能会不成功）
        }
      })
    }
  },
  mounted () {
    // configSDK(['chooseImage', 'uploadImage'])
  }
})
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
  .van-field__label{
    color:#323233 !important;
  }
  .van-hairline--bottom{
    position: absolute !important;
  }
  .m-carme{
    width:2rem;
    height: 2rem;
  }
  .m-carme:hover{
    cursor: pointer;

  }

</style>
