<template>
  <div>
    <card-form :config="config" :formData="fromData"></card-form>
  </div>
</template>

<script lang="ts">
import cardForm from '@/components/CardForm/index.vue'
import { defineComponent, reactive } from 'vue'
import { useRoute, useRouter } from 'vue-router'
import { User } from '@/store/types'
import { valNubStringHas, valListLeng, valPhone } from '@/utils/validator'
import { Dialog, Notify } from 'vant'
import { reCard } from '@/api/request'
import { CustomVue, useStore } from 'vuex'

export default defineComponent({
  setup (props, context) {
    const route = useRoute()
    const router = useRouter()
    const store = useStore()
    const fromType: any = route.params.newType
    const user = store.getters.user
    const originType = route.query.et
    const fromData = reactive({
      usercode: '',
      username: '',
      name: '',
      departmentName: '',
      fileList: [],
      userType: '',
      cardType: ''
    })
    fromData.usercode = user.usercode
    fromData.username = user.username
    fromData.name = user.name
    fromData.departmentName = user.departmentName

    const config = {
      formTitle: '工卡挂失',
      field: [
        {
          name: '姓名',
          key: 'name',
          type: 'field',
          plc: '无',
          disabled: true
        },
        {
          name: '员工编号',
          key: 'usercode',
          type: 'field',
          plc: '无',
          disabled: true
        },
        {
          name: '姓名(拼音)',
          key: 'username',
          type: 'field',
          plc: '无',
          disabled: true
        },
        {
          name: '员工部门',
          key: 'departmentName',
          type: 'field',
          plc: '无',
          disabled: true
        },
        {
          name: '员工性质',
          key: 'userType',
          type: 'radio',
          required: true,
          options: [{ value: 'formal', display: '正式员工' }, { value: 'partTime', display: '实习生' }],
          message: '请选择员工性质'
        },
        {
          name: '工卡类型',
          key: 'cardType',
          type: 'radio',
          required: true,
          options: [{ value: 'formal', display: '正式工卡' }, { value: 'partTime', display: '临时工卡' }],
          message: '请选择工卡类型'
        }
      ],
      commit: (values: any) => {
        values.originType = originType
        console.log(values)
        return new Promise((resolve) => {
          reCard((values)).then((res: any) => {
            if (res.status === 200) {
              resolve()
              Notify({ type: 'success', message: '申请已成功提交' })
              if (fromData.userType === 'partTime') {
                Dialog.alert({
                  title: '温馨提示',
                  message: '亲爱的17小伙伴，您的工卡挂失申请已通过，请您到绿地中心B座16层前台领取临时工卡一张\n（正式/临时工卡丢失将从下月工资中扣除100元，请知晓~）\n\n如您有疑问，请在员工服务号咨询行政助手（工卡/名片），将及时为您解答！',
                  theme: 'round-button'
                }).then(() => {
                  if (fromType === 'y') {
                    router.push({
                      path: `/newCard/${'y'}`,
                      query: { et: originType }
                    })
                  } else {
                    router.push({
                      path: `/newCard/${'n'}`,
                      query: { et: originType }
                    })
                  }
                })
              } else {
                Dialog.alert({
                  title: '温馨提示',
                  message: '亲爱的17小伙伴，您的工卡挂失申请已通过，请您到绿地中心B座16层前台领取临时工卡一张,并提交提交正式工卡申请~\n（正式/临时工卡丢失将从下月工资中扣除100元，请知晓~）\n\n如您有疑问，请在员工服务号咨询行政助手（工卡/名片），将及时为您解答！',
                  theme: 'round-button'
                }).then(() => {
                  if (fromType === 'y') {
                    router.push({
                      path: `/newCard/${'y'}`,
                      query: { et: originType }
                    })
                  } else {
                    router.push({
                      path: `/newCard/${'n'}`,
                      query: { et: originType }
                    })
                  }
                })
              }
            } else {
              Notify({ type: 'danger', message: '请勿重复提交' })
              resolve()
            }
          })
        })
      },
      type: 'commit'
    }
    return {
      fromData,
      config
    }
  },
  components: {
    cardForm
  }
})
</script>

<style>

</style>
