<template>
  <div class="detail-page">
    <span>{{data.cardInfo.name}}<span v-if="isReCard">的挂失申请</span><span v-else>的工卡申请</span></span>
    <van-button type="primary" size="small" style="float:right;margin:15px" @click="exportDetailData">导出数据</van-button>
    <van-cell-group style="margin-top:30px;margin-bottom:20px">
      <van-cell title="员工姓名" :value="data.cardInfo.name" />
      <van-cell title="姓名拼音" :value="data.cardInfo.username" />
      <van-cell title="部门名称" :value="data.cardInfo.departmentName" />
      <van-cell v-if="!data.cardInfo.isMarket" title="办公地点" :value="data.cardInfo.originName" />
      <van-cell title="提交时间" :value="data.cardInfo.commitTime" />
      <van-cell title="用户照片" :value="data.cardInfo.commitTime"  v-if="!isReCard">
        <template #default>
          <van-button type="danger" size="mini" @click="showImgView">附件详情</van-button>
        </template>
      </van-cell>
      <van-cell title="员工类型" :value="data.cardInfo.userType"  v-if="isReCard"/>
      <van-cell title="丢失工卡类型" :value="data.cardInfo.cardType"  v-if="isReCard"/>
    </van-cell-group>
    <span v-if="data.cardInfo.isMarket">收件信息:</span>
    <van-cell-group style="margin-bottom:20px" v-if="data.cardInfo.isMarket">
      <van-cell title="收件人姓名" :value="data.cardInfo.getUser" />
      <van-cell title="手机号" :value="data.cardInfo.phone" />
      <van-cell title="寄件地点" :value="data.cardInfo.place" />
    </van-cell-group>
    <span v-if="!isReCard">工卡申请状态:</span>
    <span v-else>工卡挂失状态:</span>
    <van-button type="danger" size="mini" style="float:right;margin-right:10px" @click="sendMessageUser" v-if="data.cardInfo.status===2">提醒员工</van-button>
    <van-steps :active="active" style="margin-top:10px" v-if="isReCard">
      <van-step>挂失申请申请</van-step>
      <van-step>已同意</van-step>
      <van-step>已驳回</van-step>
    </van-steps>
    <van-steps :active="active" style="margin-top:10px" v-else-if="data.cardInfo.status!==4">
      <van-step>提交申请</van-step>
      <van-step>工卡制作中</van-step>
      <van-step>已完成待领取</van-step>
      <van-step>已完成领取</van-step>
      <van-step>已驳回</van-step>
    </van-steps>
    <van-steps :active="active" active-icon="success" active-color="red" v-else>
      <van-step>提交申请</van-step>
      <van-step>工卡制作中</van-step>
      <van-step>已完成待领取</van-step>
      <van-step>已完成领取</van-step>
      <van-step>已驳回</van-step>
    </van-steps>
    <van-action-sheet v-model:show="actionShow" :actions="[-1,-2,-3].includes(data.cardInfo.status)?reActions:actions" @select="changeState"/>
    <van-dialog v-model:show="dialogShow" title="驳回原因" show-cancel-button @confirm="confirmRusef">
      <van-cell-group>
        <van-field v-model="data.rejectMsg"  placeholder="请输入驳回原因" />
      </van-cell-group>
    </van-dialog>
    <div class="detail-footer">
      <div>
        <van-button type="danger" style="width:100%" @click="actionShow=true">轮转状态</van-button>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, onMounted, reactive, ref, computed } from 'vue'
import { useRoute } from 'vue-router'
import { changeCardState, getDetialCardInfo, CardData, sendMessageToUser, exportData } from '@/api/request'
import { ImagePreview, Dialog, Notify } from 'vant'

interface Data {
  cardInfo: CardData | {};
  rejectMsg: string;
}

export default defineComponent({
  setup (props, context) {
    const route = useRoute()
    const usercode = route.params.usercode
    const actionShow = ref(false)
    const dialogShow = ref(false)
    const actions = [
      { name: '同意并开始制作中' },
      { name: '已完成制作待领取' },
      { name: '已领取' },
      { name: '驳回' }
    ]
    const reActions = [
      { name: '同意' },
      { name: '驳回' }
    ]
    const data: Data = reactive({
      cardInfo: {},
      rejectMsg: ''
    })
    const active = computed(() => {
      if ((data.cardInfo as CardData).status === -1) {
        return 0
      }
      if ((data.cardInfo as CardData).status === -2) {
        return 1
      }
      if ((data.cardInfo as CardData).status === -3) {
        return 2
      }
      const status = (data.cardInfo as CardData).status
      return status
    })
    const isReCard = computed(() => {
      return [-1, -2, -3].includes((data.cardInfo as CardData).status)
    })
    const getCardDetailInfo = async () => {
      const response = await getDetialCardInfo((usercode as string))
      data.cardInfo = response.data.cardDetial
    }
    const sendMessageUser = async () => {
      Dialog.confirm({
        message: '确定催促员工领取工卡吗?'
      }).then(async () => {
        await sendMessageToUser({ usercodeList: [(data.cardInfo as CardData).usercode] })

        Notify({ type: 'success', message: '已成功催促员工' })
      })
    }
    const showImgView = () => {
      const imgUrl: string = 'http://oa-notice.test.17zuoye.net/wcard/api/cardImg?usercode=' + (data.cardInfo as CardData).usercode
      ImagePreview({ images: [imgUrl], closeable: true })
    }
    const changeState = async ({ name }: {name: string}) => {
      if (name === '同意并开始制作中') {
        Dialog.confirm({
          message: '确定要同意该申请吗?'
        }).then(async () => {
          await changeCardState({ state: '1', cardDataList: [(data.cardInfo as CardData)] })
          getCardDetailInfo()
          actionShow.value = false
          Notify({ type: 'success', message: '已同意该申请' })
        })
      } else if (name === '已完成制作待领取') {
        Dialog.confirm({
          message: '确定要更改为工卡已制作完成吗?'
        }).then(async () => {
          await changeCardState({ state: '2', cardDataList: [(data.cardInfo as CardData)] })
          getCardDetailInfo()
          actionShow.value = false
          Notify({ type: 'success', message: '已通知员工工卡制作完成' })
        })
      } else if (name === '已领取') {
        Dialog.confirm({
          message: '确定员工已领取工卡吗?'
        }).then(async () => {
          await changeCardState({ state: '3', cardDataList: [(data.cardInfo as CardData)] })
          getCardDetailInfo()
          actionShow.value = false
          Notify({ type: 'success', message: '已更改状态为已领取' })
        })
      } else if (name === '驳回') {
        dialogShow.value = true
      } else if (name === '同意') {
        Dialog.confirm({
          message: '确定要同意该挂失申请吗?'
        }).then(async () => {
          await changeCardState({ state: '-2', cardDataList: [(data.cardInfo as CardData)] })
          getCardDetailInfo()
          actionShow.value = false
          Notify({ type: 'success', message: '已更改状态为同意' })
        })
      } else if (name === '驳回挂失') {
        dialogShow.value = true
      }
    }
    const confirmRusef = () => {
      Dialog.confirm({
        message: '确定要驳回该申请吗?'
      }).then(async () => {
        if ([-1, -2, -3].includes((data.cardInfo as CardData).status)) {
          await changeCardState({ state: '-3', cardDataList: [(data.cardInfo as CardData)], rejectMsg: data.rejectMsg })
          getCardDetailInfo()
          actionShow.value = false
        } else {
          await changeCardState({ state: '4', cardDataList: [(data.cardInfo as CardData)], rejectMsg: data.rejectMsg })
          getCardDetailInfo()
          actionShow.value = false
        }
      })
    }
    const downLoadFile = () => {
      const link = document.createElement('a') // 创建a标签
      link.href = 'http://oa-notice.test.17zuoye.net/wcard/api/export'
      link.download = 'total.zip' // 重命名文件
      link.click()
    }
    const exportDetailData = async () => {
      const response = await exportData({ usercodeList: [(data.cardInfo as CardData).usercode] })
      if (response.status === 200) {
        downLoadFile()
      }
    }
    onMounted(() => {
      getCardDetailInfo()
    })
    return {
      data,
      actionShow,
      actions,
      active,
      showImgView,
      changeState,
      sendMessageUser,
      dialogShow,
      confirmRusef,
      reActions,
      isReCard,
      exportDetailData
    }
  }
})
</script>

<style lang="scss">
.detail-page{
  text-align: left !important;
  font-size:20px;
  padding-top:10px;

}
.detail-footer{
    position: fixed;
    bottom:0;
    width: 100%;
}

</style>
