<template>
  <div id="home">
    <div>
      <div>
        <img src="@/assets/phone-img.png" v-if="isMobile" alt=""  style="width:100%;">
        <img src="@/assets/pc-img.png" v-else alt=""  style="width:100%;height:650px">
      </div>
    </div>
    <div id="main">
      <div style="margin-top:10px" v-if="!isMobile">
          <van-popover v-model:show="showPopover" :actions="actions"  theme="dark" placement="top" @select="selectPop">
            <template #reference>
              <van-button color="#fff"  style="width:15rem;height:7rem;margin-right:30px"><div><van-icon name="idcard" color="green"/></div><span style="color:black;">工卡申请</span></van-button>
            </template>
          </van-popover>
          <van-popover v-model:show="showPopoverRe" :actions="actions"  theme="dark" placement="top" @select="selectPopRe">
            <template #reference>
              <van-button color="#fff" style="width:15rem;height:7rem"><div>
                <van-icon name="replay" color="#cbd710"/></div><span style="color:black">工卡挂失及补办</span></van-button>
            </template>
          </van-popover>
      </div>
      <van-row class="main-m" v-if="isMobile">
        <van-col span="12">
          <van-popover v-model:show="showPopover" :actions="actions"  theme="dark" placement="top" @select="selectPop">
            <template #reference>
              <van-button color="#4e86ff" size="small" style="width:10rem;font-weight:800">工卡申请</van-button>
            </template>
          </van-popover>
        </van-col>
        <van-col span="12">
          <van-popover v-model:show="showPopoverRe" :actions="actions"  theme="dark" placement="top" @select="selectPopRe">
            <template #reference>
              <van-button color="#63E365" style="width:10rem;font-weight:800">工卡挂失及补办</van-button>
            </template>
          </van-popover></van-col>
      </van-row>
    </div>
    <div id="footer"  style="margin-top:10px;font-size:12px">
      <span style="margin:10px" class="handle" v-if="$store.getters.user.roleId===3" @click="$router.push({path:'/card/all'})">查看全部工卡申请</span>
      <span style="margin:10px"  class="handle" v-else @click="$router.push({path:'/card/userdetail'})">查看我的工卡申请</span>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref, computed } from 'vue'
import { useRoute, useRouter } from 'vue-router'
import { _isMobile } from '@/utils'
export default defineComponent({
  name: 'Home',
  setup () {
    const showPopover = ref(false)
    const showPopoverRe = ref(false)
    const router = useRouter()
    const isMobile = computed(() => {
      if (_isMobile() === null) {
        return false
      } else {
        return true
      }
    })
    const actions = [
      { text: '北京总部' },
      { text: '教学服务部' }
    ]
    const selectPop = ({ text }: any) => {
      if (text === '教学服务部') {
        router.push({
          path: `/newCard/${'y'}`,
          query: { et: '教学服务部' }
        })
      } else if (text === '区域') {
        router.push({
          path: `/newCard/${'y'}`,
          query: { et: '区域' }
        })
      } else {
        router.push({
          path: `/newCard/${'n'}`,
          query: { et: '北京总部' }
        })
      }
    }
    const selectPopRe = ({ text }: any) => {
      if (text === '教学服务部') {
        router.push({
          path: `/recard/${'y'}`,
          query: { et: '教学服务部' }
        })
      } else if (text === '区域') {
        router.push({
          path: `/recard/${'y'}`,
          query: { et: '区域' }
        })
      } else {
        router.push({
          path: `/recard/${'n'}`,
          query: { et: '北京总部' }
        })
      }
    }
    return {
      showPopover,
      actions,
      showPopoverRe,
      selectPop,
      selectPopRe,
      isMobile
    }
  }
})
</script>
<style lang="scss">
.isMImg{

  width: 100%;
}
.isPcImg{
  width: 20%;
}
.isMI{
  min-width: 500px;
}
.handle:hover{
  cursor: pointer;
}
  #home{
    box-sizing: border-box;
    height: 100%;
    #main{
      width: 100%;
      // background-color: red;
      .main-m{
        margin-top:10px;
        .van-col{
          padding: 5px;
        }
        .van-button{
          width: 100%;
          height: 3rem;
          border-radius: 10px;
        }
        .my-pop{
          width: 100%;
        }
      }
    }
    #header{
      height: 80%;
    }
    #footer{
      background-color: rgba(207, 207, 207, 0.363);
      display: inline-block;
      color: rgb(187, 186, 186);
      font-size: 12px;
      border-radius: 10px;
    }
  }
</style>
