<template>
  <div>
    <card-form :config="config" :formData="fromData"></card-form>
  </div>
</template>

<script lang="ts">
import cardForm from '@/components/CardForm/index.vue'
import { defineComponent, onMounted, reactive } from 'vue'
import { useRoute, useRouter } from 'vue-router'
import { User } from '@/store/types'
import { valNubStringHas, valListLeng, valPhone } from '@/utils/validator'
import { Dialog } from 'vant'
import { FormData } from './type'
import { postCardDataY, postCardDataN } from '@/api/request'
import { CustomVue, useStore } from 'vuex'
import { _isMobile } from '@/utils/index'

export default defineComponent({
  setup (props, context) {
    let sdkConfig
    const route = useRoute()
    const router = useRouter()
    const store = useStore()
    let fromData: any
    let config: any
    const fromType: any = route.params.newType
    const user = store.getters.user
    const originType = route.query.et
    if (fromType === 'n') {
      fromData = reactive({
        usercode: '',
        username: '',
        name: '',
        originName: '',
        fileList: []
      })
      fromData.usercode = user.usercode
      fromData.username = user.username
      fromData.name = user.name
      fromData.departmentName = user.departmentName
      config = {
        formTitle: '正式工卡领用',
        field: [
          {
            name: '姓名',
            key: 'name',
            type: 'field',
            plc: '无',
            disabled: true
          },
          {
            name: '员工编号',
            key: 'usercode',
            type: 'field',
            plc: '无',
            disabled: true
          },
          {
            name: '姓名(拼音)',
            key: 'username',
            type: 'field',
            plc: '无',
            disabled: true
          },
          {
            name: '员工部门',
            key: 'departmentName',
            type: 'field',
            plc: '无',
            disabled: true
          },
          {
            name: '办公地点',
            key: 'originName',
            type: 'select',
            plc: '无',
            required: true,
            columns: ['绿地B座', '浦项A座', '中护航', '海淀京仪大厦', '中国锦16层'],
            rules: [
              {
                require: true,
                message: '请选择办公地点'
              }
            ]
          },
          {
            name: '工卡照片',
            key: 'userImage',
            // type: _isMobile() ? 'wxImage' : 'jsImage',
            type: 'jsImage',
            inputType: 'normal',
            maxCount: '1',
            required: true,
            rules: [
              {
                validator: valListLeng,
                message: '请添加照片'
              }
            ]
          }
        ],
        commit: (values: FormData) => {
          values.originType = originType
          return new Promise((resolve) => {
            // if (fromData.userImage.length === 0) {
            //   alert('error')
            // }
            // if (_isMobile()) {
            //   wx.uploadImage({
            //     localId: fromData.userImage[0], // 需要上传的图片的本地ID，由chooseImage接口获得
            //     isShowProgressTips: 1, // 默认为1，显示进度提示
            //     success: function (res: any) {
            //       const serverId = res.serverId // 返回图片的服务器端ID
            //       alert(serverId)
            //     }
            //   })
            // }
            // alert(fromData.userImage[0])
            postCardDataN(values).then((res) => {
              if (res.status === 200) {
                fromData.userImage = []
                resolve()
                Dialog.alert({
                  title: '温馨提示',
                  message:
                    '亲爱的17小伙伴，您已提交正式工卡申请，工卡正在快马加鞭的向您赶来，请您耐心等待呦~\n\n制作周期：一周左右\n\n如您有疑问，请在员工服务号咨询行政助手（工卡/名片），将及时为您解答！',
                  theme: 'round-button'
                }).then(() => {
                  //
                })
              } else {
                resolve()
              }
            })
          })
        },
        type: 'commit'
      }
    } else {
      fromData = reactive({
        usercode: '',
        username: '',
        name: '',
        expressUser: '',
        phone: '',
        place: '',
        fileList: [],
        originType: originType
      })
      fromData.usercode = user.usercode
      fromData.username = user.username
      fromData.name = user.name
      fromData.departmentName = user.departmentName
      config = {
        formTitle: '正式工卡申请',
        field: [
          {
            name: '姓名',
            key: 'name',
            type: 'field',
            plc: '无',
            disabled: true,
            rules: [
              {
                validator: valNubStringHas,
                message: '请添加照片'
              }
            ]
          },
          {
            name: '员工编号',
            key: 'usercode',
            type: 'field',
            plc: '无',
            disabled: true
          },
          {
            name: '姓名(拼音)',
            key: 'username',
            type: 'field',
            plc: '无',
            disabled: true
          },
          {
            name: '员工部门',
            key: 'departmentName',
            type: 'field',
            plc: '无',
            disabled: true
          },
          {
            name: '收件人',
            key: 'expressUser',
            type: 'field',
            plc: '请填写快递收件人',
            required: true,
            rules: [
              {
                required: true,
                message: '请填写快递收件人'
              }
            ]
          },
          {
            name: '手机号',
            key: 'phone',
            type: 'field',
            plc: '请填写手机号',
            required: true,
            rules: [
              {
                validator: valPhone,
                message: '请输入正确的手机号'
              }
            ]
          },
          {
            name: '寄送地点',
            key: 'place',
            type: 'textarea',
            plc: '请填写寄送地点',
            required: true,
            rules: [
              {
                required: true,
                message: '请填写寄送地点'
              }
            ]
          },
          {
            name: '工卡照片',
            key: 'userImage',
            type: 'jsImage',
            inputType: 'normal',
            maxCount: '1',
            required: true,
            rules: [
              {
                validator: valListLeng,
                message: '请添加照片'
              }
            ]
          }
        ],
        commit: (values: FormData) => {
          values.originType = originType
          return new Promise((resolve) => {
            (values as any).newType = 'y'
            postCardDataY(values).then((res) => {
              if (res.status === 200) {
                fromData.userImage = []
                resolve()
                Dialog.alert({
                  title: '温馨提示',
                  message:
                    '亲爱的17小伙伴，您已提交正式工卡申请，工卡正在快马加鞭的向您赶来，请您耐心等待呦~\n\n制作周期：一周左右\n\n如您有疑问，请在员工服务号咨询行政助手（工卡/名片），将及时为您解答！',
                  theme: 'round-button'
                }).then(() => {
                  //
                })
              } else {
                resolve()
              }
            })
          })
        },
        type: 'commit'
      }
    }
    return {
      fromData,
      config
    }
  },
  components: {
    cardForm
  },
  data () {
    return {
      iFormData: {}
    }
  },
  mounted () {
    // this.initFormData(this.$store.getters.user)
  },
  methods: {
    // initFormData (userInfo: User): void {
    // }
  }
})
</script>

<style>
</style>
