<template>
  <van-pull-refresh v-model="newRefreshing" @refresh="onRefresh">
    <div style="text-align:right;padding:15px 15px 0 0;">
        <van-button plain hairline type="primary" @click="checkAll" size="mini" style="width:50px" v-if="!isCheckAll" key="all">全选</van-button>
        <van-button plain hairline type="primary" @click="CancelCheckAll" size="mini" style="width:50px" v-else key="cancelAll">取消全选</van-button>
    </div>
    <van-list
      v-model="loading"
      :finished="finished"
      finished-text="没有更多了"
      @load="onLoad"
    >
      <van-checkbox-group v-model="result" ref="cardCheckBox" @change="flushResult">
        <van-checkbox :disabled="item.status!==0" :name="item" label-position="left" class="card-checkobx" :label-disabled="true" v-for="item in data" :key="item.usercode">
          <van-card
            :thumb="'http://oa-notice.test.17zuoye.net/wcard/static/userImg/'+item.usercood+'.png'"
          >
            <template #title>
              <ul>
                <li>{{item.name}}</li>
                <li>{{item.usercode}}</li>
                <li>{{item.username}}</li>
                <li>{{item.commitTime}}</li>
              </ul>
            </template>
            <template #tags>
              <van-tag plain type="danger" style="float:right" v-if="item.status===0">未处理</van-tag>
              <van-tag plain type="primary" style="float:right" v-else-if="item.status===1">制作中</van-tag>
              <van-tag plain type="danger" style="float:right"  v-else-if="item.status===2">待领取</van-tag>
              <van-tag plain type="danger" style="float:right"  v-else-if="item.status===3">已领取</van-tag>
              <van-tag plain type="danger" color="rgb(187, 186, 186)" style="float:right"  v-else-if="item.status===4">已驳回</van-tag>
            </template>
            <template #footer>

            </template>
          </van-card>
        </van-checkbox>
      </van-checkbox-group>
    </van-list>
  </van-pull-refresh>
</template>

<script lang="ts">
import { defineComponent, reactive, toRefs, toRef, computed } from 'vue'

export default defineComponent({
  props: {
    data: {
      required: true
    },
    type: {
      required: true,
      type: String
    }
  },
  data () {
    return {
      newRefreshing: false,
      loading: false,
      finished: false,
      result: [],
      page: 1,
      isCheckAll: false
    }
  },
  methods: {
    onLoad () {
      this.$emit('onLoad', { type: this.type, page: this.page })
      this.page += 1
    },
    checkAll () {
      (this as any).$refs.cardCheckBox.toggleAll({
        checked: true,
        skipDisabled: true
      })
      this.isCheckAll = true
      this.$emit('onChangeResult', this.result)
    },
    CancelCheckAll () {
      (this as any).$refs.cardCheckBox.toggleAll({
        skipDisabled: true
      })
      this.isCheckAll = false
      this.$emit('onChangeResult', this.result)
    },
    flushResult () {
      this.$emit('onChangeResult', this.result)
    },
    onRefresh () {
      this.$emit('onRefresh')
      this.newRefreshing = false
    }
  }
})
</script>

<style lang='scss'>
.van-pull-refresh{
  height: 500px !important;
}
  .van-checkbox{
    border: 1px solid rgba(168, 15, 15, 0.199);
    box-shadow: 1px 1px .5px 1px rgba(168, 15, 15, 0.199);
    border-radius: 5px;
    margin: 15px;
    background-color: #fff;
    text-align: left;
    .van-checkbox__label--left{
      flex:35;
    }
    .van-checkbox__icon--round{
      flex:5;
    }
    .van-card {
      background-color:  #fff !important;
    }
  }
</style>
