<template>
  <div>
    <van-dropdown-menu>
      <van-dropdown-item v-model="state.dropdownState" :options="dropdownOption" @change="changeDropDown"/>
      <!-- <van-dropdown-item v-model="state.value2" :options="option2" /> -->
    </van-dropdown-menu>
    <van-pull-refresh v-model="state.isRefresh" @refresh="onRefresh">
    <div style="text-align:right;padding:15px 15px 0 0;" v-if="data.cardList.length!==0">
        <van-button plain hairline type="primary" @click="exportListData" size="mini" style="width:50px"  v-if="data.selectResult.length!==0">导出数据</van-button>
        <van-button plain hairline type="primary" @click="checkAll" size="mini" style="width:50px" v-if="!state.isCheckAll" key="all">全选</van-button>
        <van-button plain hairline type="primary" @click="CancelCheckAll" size="mini" style="width:50px" v-else key="cancelAll">取消全选</van-button>
    </div>
    <van-list
      v-model="state.isLoading"
      :finished="state.isFinished"
      finished-text="没有更多了"
      @load="onLoad"
    >
      <van-checkbox-group v-model="data.selectResult" ref="checkBoxGroup">
        <van-checkbox :disabled="(item.status!==0) && (state.dropdownState==='all' || state.dropdownState==='0' || state.dropdownState==='3') || item.status===-2 || state.dropdownState==='4'" :name="item" label-position="left" class="card-checkobx" :label-disabled="true" v-for="item in data.cardList" :key="item.usercode">
          <van-card
          >
            <template #thumb>
              <van-image  class="handle" width="100" height="100" :src="'http://oa-notice.test.17zuoye.net/wcard/api/cardImg?usercode='+item.usercode"  @click="perviewImg('http://oa-notice.test.17zuoye.net/wcard/api/cardImg?usercode='+item.usercode)">
                <template #error>
                  <van-image width="100" height="100" :src="'http://oa-notice.test.17zuoye.net/wcard/api/cardImg?usercode=default'"  @click="perviewImg('http://oa-notice.test.17zuoye.net/wcard/api/cardImg?usercode='+item.usercode)" />
                </template>
              </van-image>
            </template>
            <template #title>
              <ul @click="goToDetial(item.usercode)" class="handle">
                <li>{{item.name}}</li>
                <li>{{item.usercode}}</li>
                <li>{{item.username}}</li>
                <li>{{item.commitTime}}</li>
              </ul>
            </template>
            <template #tags>
              <van-tag  type="success" style="float:left" color="#ffe1e1" text-color="#ad0000" v-if="item.originType">{{item.originType}}</van-tag>
              <van-tag  type="success" style="float:left" color="#ffe1e1" text-color="#ad0000" v-else>无</van-tag>
              <van-tag  type="success" style="float:left;margin-left:25px" color="#66b5ff" text-color="#fff"  v-if="item.isRecard">挂失</van-tag>
              <van-tag plain type="danger" style="float:right" :class="{'isM':isMobile && item.isRecard}" v-if="item.status===0">未处理</van-tag>
              <van-tag plain type="primary" style="float:right" :class="{'isM':isMobile && item.isRecard}" v-else-if="item.status===1">制作中</van-tag>
              <van-tag plain type="warning" style="float:right" :class="{'isM':isMobile && item.isRecard} " v-else-if="item.status===2">待领取</van-tag>
              <van-tag plain type="success" style="float:right" :class="{'isM':isMobile && item.isRecard}" v-else-if="item.status===3">已领取</van-tag>
              <van-tag plain type="danger" color="#fc5531" style="float:right"  v-else-if="item.status===-1">挂失</van-tag>
              <van-tag plain type="success" color="#fc5531" style="float:right" :class="{'isM':isMobile}" v-else-if="item.status===-2">同意挂失</van-tag>
              <van-tag plain type="danger" color="rgb(187, 186, 186)" style="float:right" :class="{'isM':isMobile && item.isRecard}" v-else-if="item.status===-3">挂失已驳回</van-tag>
              <van-tag plain type="danger" color="rgb(187, 186, 186)" style="float:right" :class="{'isM':isMobile && item.isRecard}" v-else-if="item.status===4">已驳回</van-tag>

            </template>
            <template #footer>

            </template>
          </van-card>
        </van-checkbox>
      </van-checkbox-group>
    </van-list>
  </van-pull-refresh>
    <transition name="fade"  >
      <div class="list-footer" v-if="data.selectResult.length!==0 && (state.dropdownState=='all' || state.dropdownState==='0')">
        <van-button plain type="danger" @click="dialogShow = true">驳回</van-button>
        <van-button type="danger" @click="toChangeCardState('1')">同意</van-button>
      </div>
      <div class="list-footer" v-else-if="data.selectResult.length!==0 &&  state.dropdownState==='1'">
        <van-button type="danger" @click="toChangeCardState('2')">制作完成并通知员工</van-button>
      </div>
      <div class="list-footer" v-else-if="data.selectResult.length!==0 &&  state.dropdownState==='2'">
        <van-button plain type="danger" @click="sendMessageUser">催促员工领取</van-button>
        <van-button type="danger" @click="toChangeCardState('3')">员工以领取工卡</van-button>
      </div>
      <div class="list-footer" v-else-if="data.selectResult.length!==0 && state.dropdownState==='-1'">
        <van-button plain type="danger" @click="dialogShow = true">驳回</van-button>
        <van-button type="danger" @click="toChangeCardState('-2')">同意</van-button>
      </div>
    </transition>
    <van-dialog v-model:show="dialogShow" title="驳回原因" show-cancel-button @confirm="confirmRusef">
      <van-cell-group>
        <van-field v-model="data.rejectMsg"  placeholder="请输入驳回原因" />
      </van-cell-group>
    </van-dialog>
  </div>
</template>
<script lang="ts">
import { defineComponent, reactive, ref, onMounted, computed } from 'vue'
import CardList from './cardList.vue'
import { getCardData, changeCardState, CardData, sendMessageToUser, exportData } from '@/api/request'
import { Toast, Dialog, ImagePreview, Notify } from 'vant'
import { useRouter, useRoute } from 'vue-router'
import fileDownload from 'js-file-download'
import { _isMobile } from '@/utils'

export default defineComponent({
  setup (props, context) {
    // 全部状态
    const dialogShow = ref(false)
    const router = useRouter()
    const route = useRoute()
    const isMobile = computed(() => {
      return _isMobile()
    })
    const state = reactive({
      dropdownState: 'all',
      isRefresh: false,
      isLoading: false,
      isFinished: false,
      isCheckAll: false,
      page: 1,
      max: NaN
    })
    const data: any = reactive({
      cardList: [],
      selectResult: [],
      rejectMsg: ''
    })
    // 下拉菜单
    const dropdownOption = [
      { text: '全部申请', value: 'all' },
      { text: '未处理', value: '0' },
      { text: '制作中', value: '1' },
      { text: '待领取', value: '2' },
      { text: '已领取', value: '3' },
      { text: '已驳回', value: '4' },
      { text: '挂失申请', value: 'isRecard' }
    ]
    const changeDropDown = (value: string) => {
      data.selectResult = []
      data.cardList = []
      state.page = 1
      state.isFinished = false
    }
    // 复选框
    const cardReuslt = ref([])
    const checkBoxGroup = ref(null)
    const checkAll = () => {
      state.isCheckAll = true;
      (checkBoxGroup.value as any).toggleAll({
        checked: true,
        skipDisabled: true
      })
    }
    const CancelCheckAll = () => {
      state.isCheckAll = false;
      (checkBoxGroup.value as any).toggleAll({
        skipDisabled: true
      })
    }
    // 列表
    const getCardList = async () => {
      const responseData = (await getCardData(state.dropdownState, state.page)).data
      state.max = (responseData as any).count
      data.cardList.push(...(responseData.card_list as any))
      if (state.max === data.cardList.length) {
        state.isFinished = true
      }
    }
    const onLoad = async () => {
      getCardList()
      state.page += 1
    }
    // 下拉刷新
    const onRefresh = () => {
      state.isRefresh = false
    }
    // 卡片
    const perviewImg = (url: string) => {
      ImagePreview({ images: [url], closeable: true })
    }
    // 底部按钮
    const toChangeCardState = async (cardSate: string) => {
      let message = ''
      if (cardSate === '1' || cardSate === 'all') {
        message = '您确定要同意该工卡申请吗?'
      } else if (cardSate === '2') {
        message = '您确定要通知员工工卡已完成制作吗?'
      } else if (cardSate === '3') {
        message = '您确定员工已领取工卡吗?'
      } else if (cardSate === '-2') {
        message = '您确定要同意该工卡挂失吗?'
      }
      Dialog.confirm({
        message: message
      })
        .then(async () => {
          await changeCardState({ state: cardSate, cardDataList: data.selectResult })
          if (cardSate === '1') {
            Toast({
              message: '已通知员工同意该工卡申请'
            })
          } else if (cardSate === '2') {
            Toast({
              message: '已通知员工同意该工卡已完成制作'
            })
          } else if (cardSate === '3') {
            Toast({
              message: '确认员工领取工卡'
            })
          } else if (cardSate === '-2') {
            Toast({
              message: '已同意工卡挂失'
            })
          }
          state.page = 1
          data.isFinished = []
          data.cardList = []
          state.isFinished = false
        })
        .catch(() => {
          // on cancel
        })
    }
    // 路由
    const goToDetial = (usercode: string) => {
      router.push({
        name: 'CardDetail',
        params: {
          usercode: usercode
        }
      })
    }
    // 弹出框
    const confirmRusef = () => {
      Dialog.confirm({
        message: '确定要驳回该申请吗?'
      }).then(async () => {
        await changeCardState({ state: '4', cardDataList: data.selectResult, rejectMsg: data.rejectMsg })
        Toast({
          message: '已通驳回该工卡申请'
        })
        state.page = 1
        data.isFinished = []
        data.cardList = []
        state.isFinished = false
      })
    }
    // 提醒
    const sendMessageUser = async () => {
      Dialog.confirm({
        message: '确定催促员工领取工卡吗?'
      }).then(async () => {
        const usercodeList: string[] = []
        data.selectResult.forEach((item: CardData) => {
          usercodeList.push(item.usercode)
        })
        await sendMessageToUser({ usercodeList: usercodeList })

        Notify({ type: 'success', message: '已成功催促员工' })
      })
    }
    const downLoadFile = () => {
      const link = document.createElement('a') // 创建a标签
      link.href = 'http://oa-notice.test.17zuoye.net/wcard/api/export'
      link.download = 'total.zip' // 重命名文件
      link.click()
    }
    const exportListData = async () => {
      const usercodeList: string[] = []
      data.selectResult.forEach((item: CardData) => {
        usercodeList.push(item.usercode)
      })
      const response = await exportData({ usercodeList: usercodeList })
      if (response.status === 200) {
        downLoadFile()
      }
      // downLoadFile(response.data)
      // fileDownload(response.data, 'a.zip')
      // console.log(response)
      // const _data = response.data
      // const headers = response.headers
      // const fileName = 'totol.zip'
      // const blob = new Blob([_data], { type: headers['content-type'] })
      // const url = window.URL.createObjectURL(blob)
      // const a: any = document.createElement('a')
      // a.href = url
      // a.style.display = 'none'
      // a.download = fileName
      // document.body.appendChild(a)
      // a.click()
      // a.parentNode.removeChild(a)
      // window.URL.revokeObjectURL(url)
    }

    return {
      state,
      data,
      cardReuslt,
      checkAll,
      CancelCheckAll,
      dropdownOption,
      onLoad,
      onRefresh,
      changeDropDown,
      checkBoxGroup,
      toChangeCardState,
      perviewImg,
      goToDetial,
      dialogShow,
      confirmRusef,
      sendMessageUser,
      exportListData,
      isMobile
    }
  }
})
</script>

<style lang='scss'>
.isM{
  margin-top:10px
}
.handle:hover{
  cursor: pointer;
}
.list-footer{
  position: fixed;
  bottom:0;
  width: 100%;
  display: flex;
  .van-button{
    flex:5;
  }
}
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s ease;
}

.fade-enter-from, .fade-leave-to {
  opacity: 0;
}
.van-tabs__nav{
  width:100%
}
.van-tabs__nav--card{
  margin: 0;
}
.van-tabs__wrap--scrollable .van-tabs__nav--complete{
  padding-left: 0;
}
.van-pull-refresh{
  min-height: 500px !important;
}
  .van-checkbox{
    border: 1px solid rgba(255, 1, 1, 0.329);
    box-shadow: 5px 5px .5px .5px rgba(255, 1, 1, 0.055);
    border-radius: 5px;
    margin: 15px;
    background-color: #fff;
    text-align: left;
    .van-card__content{
      margin-left: 15px;
    }
    .van-checkbox__label--left{
      flex:35;
    }
    .van-checkbox__icon--round{
      flex:5;
    }
    .van-card {
      background-color:  #fff !important;
    }
  }
</style>
