<template>
  <div id="nav" :class="{'deviceHeight':isMobile,'deviceHeightPhone':!isMobile}">
    <router-view v-if="$route.meta.cache" ></router-view>
    <router-view v-else></router-view>
  </div>
</template>

<script>
import { defineComponent, computed } from 'vue'
import { initAppHeight, _isMobile } from '@/utils'

import '@/static/index.scss'
export default defineComponent({
  mounted () {
    initAppHeight()
  },
  setup () {
    const isMobile = computed(() => {
      if (_isMobile() === null) {
        return false
      } else {
        return true
      }
    })
    return {
      isMobile
    }
  }
})
</script>

<style lang="scss">
.deviceHeight{
  height: 100%;
}
.deviceHeightPhone{
  height: 1020px;
}
#nav {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  background-color: rgba(190, 190, 190, 0.103);
}

</style>
